*{
	padding: 0;
	margin: 0;
	
}
body{
	padding: 0;
	margin: 0;
	background-color: white;
	position: relavtive;
}

.container{
	padding: 0;
	margin: 0;
	
}

/*page style*/
article{

	margin-top: 5%;
}

h2{

		font-size: 2.3em;
		text-align: center;
		color: rgba(32,73,98,1);
		border-bottom: 4px solid rgba(32,73,98,1);
		width:40%;
		margin:  2% 30% 3% 30%;
		
} 

.image-bio-wrapper{
	display: flex;
	width: 90%;
	margin: 0 5%;
	/*border: 2px solid rgba(52,93,118,1);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(220,220,220,1);
	border-radius: 8px;
}

.image{
	margin: 0;
	width: 200px;
	height: 400px;
	padding: 5%;
	
	
	
}

.bio{
	width: 60%;
	height: auto;
	padding: 10% 5% 5% 5%;
	font-size: 1.3em;
	line-height: 2;
	text-align: center;
}

/*bottom nav*/
.nav-wrapper{

	text-align: center;
	position: fixed;
	font-size: 2em;
	background-color: rgba(32,73,98,1);
	bottom: 0;
	left:0;
	width: 100%;
	z-index: 4;
	
}

.anchor{
	color:white;
	text-decoration: none;
	
	display: inline-block;
	padding: 20px 0;
	margin-left: 20px;

}

.anchor:hover{

	color: grey;
	cursor: pointer;
}

.current{
	color: #f3b237;
}

@media screen and (max-width: 700px) {

	/*page style*/
	article{

		margin: 5% 0 25% 0 ;


	}
	h2{

			font-size: 2.3em;
			text-align: center;
			color: rgba(32,73,98,1);
			border-bottom: 4px solid rgba(32,73,98,1);
			width: 80%;
			margin: 10% 10%;
			padding: 0 0 5% 0;
	} 

	.image-bio-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		margin: 0 5%;
		/*border: 2px solid rgba(52,93,118,1);*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: rgba(220,220,220,1);
		border-radius: 8px;
		padding-bottom: 5%;
	}


	.image{
		margin: 5% 0 0 0;
		width: 200px;
		height: 400px;
		padding: 5%;		
		
	}

	.bio{
		width: 80%;
		height: auto;
		padding: 13% 10% 5% 10%;
		font-size: 1.5em;
		text-align: center;
	}

	/*bottom nav*/
	.nav-wrapper{

		position: fixed;
		background-color: rgba(32,73,98,1);
		bottom: 0;
		left:0;
		width: 100%;
		z-index: 4;
		
	}

	nav{
		width: 90%;
		margin: 0 5%;
		padding: 0;
	}

	.anchor{
		color:white;
		text-decoration: none;
		font-size: 0.8em;		
		display: inline-block;
		padding: 5% 0;

	}

	.anchor:hover{

		color: grey;
		cursor: pointer;
	}

	.current{
		color: #f3b237;
	}


}